@charset "UTF-8";

#signUp {
  width: 600px;
  height: 1080px;
  margin: 0 auto;
  border: 2px solid black;
  padding-top: 60px;
  padding-left: 100px;
}
#signUp h1 {
  margin-bottom: 10px;
}
#signUp #newId {
  position: relative;
  margin-top: 50px;
}
#signUp .textInput {
  width: 500px;
  height: 50px;
}
#signUp label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#birthDay {
  width: 200px;
  height: 50px;
}
#email p span {
  display: inline-block;
  padding: 10px 20px;
}
#emailId,
#emailDomain {
  width: 200px;
  height: 50px;
}
input::placeholder {
  padding-left: 15px;
}
#signUp input {
  margin-bottom: 10px;
}
#signUp #newId button {
  position: absolute;
  right: 110px;
  bottom: 20px;
  width: 140px;
  height: 35px;
  border: 1px solid black;
  color: #fff;
  background-color: #43a9fc;
}
#accessionBtn {
  margin-top: 40px;
}
#accessionBtn button {
  width: 140px;
  height: 35px;
  border: 1px solid black;
  color: #fff;
  font-size: 16px;
}
#accession {
  background-color: #43a9fc;
  margin-left: 100px;
}
#cancel {
  background-color: #eee431;
  margin-left: 30px;
}
.error-msg {
  margin-left: 10px;
  font-size: 18px;
  color: rgb(240, 55, 55);
  display: none;
}
