@charset "utf-8";

.main-content{
    width: 1900px;
    margin: auto 200px;
    padding: 0 15px;
}

.main-content #banner{
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background-color: aqua;
}
.main-content #banner #searchResult{
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1400px;
    margin: 0 auto;
}
.product-image{
    width: 335px;
    height: 462px;
    background-color: aqua;
}

.product-card .product-title{
    font-size: 17px;
    color: #565656;
    margin-bottom: 4px;
}
.product-card .product-description{
    font-size: 14px;
    color: #565656;
    margin-bottom: 3px;
}
.product-card .product-price{
    font-size: 15px;
    color: #000;
    padding-right: 10px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.pagination ul{
    display: flex;
}
.pagination a{
    margin: 0 7px;
    width: 10px;
    text-align: center;
}