@charset "utf-8";

.main-content{
    margin: auto 200px;
    padding: 0 15px;
}
.banner{
    margin-bottom: 55px;
}
.banner img{
    width: 1475px;
    height: 578px;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.product-image{
    width: 335px;
    height: 462px;
}

.product-card .product-title{
    font-size: 17px;
    color: #565656;
    margin-bottom: 4px;
}
.product-card .product-description{
    font-size: 14px;
    color: #565656;
    margin-bottom: 3px;
}
.product-card .product-price{
    font-size: 15px;
    color: #000;
    padding-right: 10px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.pagination ul{
    display: flex;
}
.pagination a{
    margin: 0 7px;
    width: 10px;
    text-align: center;
}

