@charset "utf-8";


.main-content #banner {
  width: 1400px;
  margin: 0 auto 80px auto;
}
.main-content #banner #searchResultPage {
  text-align: center;
  font-size: 36px;
  margin-top: 100px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
}
.toolbar .sort-container select{
  height: 32px;
  padding: 0 8px;
  border: 1px solid #bbb;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 20px;
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.product-image {
  width: 345px;
  height: 345px;
  margin-bottom: 20px;
  background-color: aqua;
}

.product-card .product-title {
  font-size: 17px;
  color: #565656;
  margin-bottom: 4px;
}
.product-card .product-description {
  font-size: 14px;
  color: #565656;
  margin-bottom: 3px;
}
.product-card .product-price {
  font-size: 15px;
  color: #000;
  padding-right: 10px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 100px 0;
}

.pagination ul {
  display: flex;
}
.pagination a {
  margin: 0 8px;
  text-align: center;
  color: #555;
  font-size: 14px;
}
